main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid darkgreen 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.numbers-container {
  display: flex;
  color: black;
}

.highlight {
  background-color: rgb(5, 151, 5);
  color: white;
}
